@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    margin: 0 15px;
    color: #2a2f30;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 55px;
    background-color: #ffffff;
}

button, input[type="submit"] {
    background-color: #ffffff;
    margin-left: 5px;
    color: #FF5700;
    border: 1px solid #FF5700;
    padding: 8px 20px;
    border-radius: 50px 50px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #FF4500;
    color: #ffffff;
}


.btn-small {
    width: 50px;
    height: 25px;
    padding: 0;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;

}

.btn-small:hover {
    background-color: #656565;
    color: white;
}


.logo{
    font-size: 27px;
    font-weight: 600;
    color: #FF5700;
}

.sort{
    align-self: flex-start;
    display: flex;
    margin: 5px 0;
}

.card {
    align-self: center;
    border: none;
    border-radius: 3px;
    padding-left: 5px;
    transition: transform 0.3s ease;
    margin: 3px 0; /* Add space between cards */
    background-color: #ffffff;
}

.card:hover {
    background-color: #d9dcdd;
    /*transform: translateY(-3px);*/
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);*/
}

.card-title {
    font-size: large;
    color: #0079d3; /* Reddit blue */
}

.card1{
    font-size: small;
    font-weight: normal;
    color: #221f1f;
}

hr {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: #ccc; /* Set the color to grey */
}

.divider {
    border: none ; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: rgba(158, 158, 158, 0.8); /* Set the color to grey */
}

.sub-name{
    margin-right: auto;

    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;

    color: #a53903;
}

.add-join{
    justify-content: right;
    margin-top: 2px;
    margin-left: auto;
    display: flex;
}

.currentUser{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: large;
    color: #0079d3;
    transition: background-color 0.8s ease;
}
.currentUser:hover{
    color: #FF5700;
    text-decoration: overline;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 10px;*/
    border-radius: 5px;
}

.search-form input[type="text"] {
    align-items: center;
    box-sizing: border-box;
    padding: 8px 18px;
    border: 1px solid #f6f8f9;
    border-radius: 50px 50px;
    height: 40px;
    width: 550px; /* Adjust width as needed */
    background-color: #f6f8f9;
    font-weight: 200;
    font-size: medium;
    color: #2a2f30;
}

.search-form input[type="text"]:hover {
    background-color: #dbe4e9;
    border: 1px solid #dbe4e9;
}

.btn-join{
    background-color: #ffffff;
    border: 1px solid #0079d3;
    color: #0079d3;
}
.btn-join:hover{
    background-color: #0079d3;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items at the top vertically */
    margin-top: -1px; /* Adjust margin as needed */
}

.center-div {
    display: flex;
    flex-direction: column;
    padding: 10px 20px; /* Adjust padding as needed */

    box-sizing: border-box; /* Include padding and border in the width */
    width: 60%;
    /*margin-left: 22%;*/
}

.right-div {
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(129, 129, 129, 0.38);
    padding: 20px; /* Adjust padding as needed */
    width: 25%;
    height: 100vh;

    box-sizing: border-box; /* Include padding and border in the width */
    margin-left: -1px; /* Add space between center-div and right-div */
}

.left-div {
    display: flex;
    flex-direction: column;

    margin-right: -1px;
    padding: 20px 15px; /* Adjust padding as needed */
    width: 25%;
    height: 100vh;
    box-sizing: border-box; /* Include padding and border in the width */
    border: 1px solid rgba(129, 129, 129, 0.38);
}

.popular-tags{
    display: flex;
    flex-direction: column;
    margin-right: -1px;
    padding: 15px 15px; /* Adjust padding as needed */
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-sizing: border-box; /* Include padding and border in the width */
}

.subreddit{
    color: #c8dbe6;
    margin-top: 5px;
    font-size: 13px;
}

img{
    max-width: 500px;
    max-height: 400px;
}
.left-tag{
    padding: 5px;
    color: #2a2f30;
    font-weight: 300;
    margin-bottom: 5px;
}

.left-tag:hover{
    background-color: #d9dcdd;
    border-radius: 10px;
}

.left-tag-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}