<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit</title>
    <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>

<body>
<header>
    <a class="logo" th:href="@{/}">Reddit</a>

    <form class="search-form">
        <input type="text" placeholder="Search">
        <input type="submit" value="Search">
    </form>

    <nav sec:authorize="!isAuthenticated()">
        <a class="buttons" th:href="@{/login}"><button>Log In</button></a>
        <a class="buttons" th:href="@{/signup}"><button>Sign Up</button></a>
    </nav>
    <nav sec:authorize="isAuthenticated()">
        <label class="currentUser" >Hi <span sec:authentication="name"></span></label>
        <a class="buttons" th:href="@{/logout}"><button>Log Out</button></a>

    </nav>

</header>
<hr class="divider">
<div >
    <div class="sort">
        <a th:href="@{/posts/allposts}"><button class="btn-small" >Latest</button></a>
        <a th:href="@{/posts/postsByUpvotes}"><button class="btn-small" >Top</button></a>
    </div>

    <hr>


    <div th:each="post: ${posts}">
        <div class="card">
            <div class="card-body">
                <a th:href="@{/posts/{postId}(postId=${post.id})}">
                    <label class="card-title" th:text="${post.title}"></label>
                </a>

                <div class="card1">
                    <label>submitted on </label>
                    <span
                            th:text="${#temporals.format(post.updatedAt, 'dd MMM yyyy')}">
                    </span>
                    <label>by</label>
                    <label th:text="${post.getUser().username}"></label>
                    <label>to</label>
                    <label>r/</label>
                    <label th:text="${post.getSubreddit().name}"></label>

                    <div class="about-post">
                        <span th:text="${post.upvotes}"></span>
                        <span>⇅</span>
                        <span th:text="${post.downvotes}"></span>

                        <span>·</span>
                        <a style="font-weight: 500" th:href="@{/posts/{postId}(postId=${post.id})}">
                            <span th:text="${post.children.size()}"></span>
                            <span>comments</span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
