<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>

karma: <span th:text="${user.karma}"></span>

<h3>You have joined the following subreddits:</h3>
<ul>
    <li th:each="subreddit : ${user.subreddits}" th:text="${subreddit.name}"></li>
</ul>
<h3>You have following posts</h3>
<ul>
    <li th:each="post : ${posts}" th:text="${post.content}"></li>
</ul>

</body>
</html>