<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit</title>
    <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>

<body>
<header>
    <a class="logo" th:href="@{/}">reddit</a>
    <form class="search-form" th:action="@{/search}" method="get">
        <input type="text" placeholder="Search Reddit" name="search">
    </form>
    <nav sec:authorize="!isAuthenticated()">
        <a class="buttons" th:href="@{/login}">
            <button>Log In</button>
        </a>
        <a class="buttons" th:href="@{/signup}">
            <button>Sign Up</button>
        </a>
    </nav>
    <nav sec:authorize="isAuthenticated()">
        <a th:href="@{/profile}"><label class="currentUser">Hi <span sec:authentication="name"></span></label></a>
        <a class="buttons" th:href="@{/logout}">
            <button>Log Out</button>
        </a>
    </nav>
</header>
<hr class="divider">


<div class="wrapper">
    <div class="left-div">
        <div class="left-tag-div">
            <a class="left-tag" th:href="@{/}"
            >🏠Home</a>
            <a class="left-tag" th:href="@{/byUpvotes}"
            >➚ Popular</a>
        </div>

        <hr>
    </div>

    <hr class="divider">

    <div class="center-div">
        <div class="sort">
            <a th:href="@{/}">
                <button class="btn-small">Latest</button>
            </a>
            <a th:href="@{/byUpvotes}">
                <button class="btn-small">Top</button>
            </a>
        </div>

        <hr style="background-color: rgba(158,158,158,0.6);">
        <br>

        <div th:each="post: ${posts}">
            <div class="card">
                <div class="card-body">
                    <div class="about-post">
                        <label style="font-weight: 600; color: #02558f">
                            r/<a style="font-weight: 600; color: #02558f"
                                 th:href="@{/r/{name}(name=${post.subreddit.name})}"
                                 th:text="${post.getSubreddit().name}">
                        </a>
                        </label>
                        <span>•</span>
                        <span th:text="${#temporals.format(post.updatedAt, 'dd MMM yyyy')}">
                        </span>
                    </div>
                    <a th:href="@{/posts/{postId}(postId=${post.id})}">
                        <span class="card-title" th:text="${post.title}"></span>
                    </a>

                    <div class="card1">
                        <div class="image" th:if="${post.image}">
                            <img th:src="@{'/image/' + ${post.image.id}}">
                        </div>
                        <label th:text="${post.content}"></label>
                        <div class="about-post">
                            <span th:text="${post.upvotes}"></span>
                            <span>⇅</span>
                            <span th:text="${post.downvotes}"></span>

                            <span>•</span>
                            <a style="font-weight: 500" th:href="@{/posts/{postId}(postId=${post.id})}">
                                <span th:text="${post.children.size()}"></span>
                                <span>comments</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-div">
        <div class="popular-tags">
                <span style="font-size: small;
                color: #2a2f30; font-weight: 400;
                margin-bottom: 5px;"
                >POPULAR COMMUNITIES</span>
            <div th:each="subs : ${subreddits}" class="subreddit">
                <a th:href="@{/r/{name}(name=${subs.name})}">
                    <label style="color: #2a2f30;font-weight: 300;">
                        • r/<label th:text="${subs.name}"></label>
                    </label>
                </a>
            </div>

        </div>
    </div>


</div>


<a th:if="${currentPage > 0}" th:href="@{${url}(page = ${currentPage - 1})}">prev</a>
<a th:if="${currentPage < totalPages - 1}" th:href="@{${url}(page=${currentPage + 1})}">next</a>


</body>
</html>
